<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Treebook</a>
					<ul class="nav navbar-nav">
						<li><%= link_to "All status", statuses_path %></li>
					</ul>
				</div>
			</div>
		</nav>
		<%= yield %>
	</div>

</body>
</html>
